.main{
    width: 100%;
    max-width: 1350px;
    height: auto;
    min-height: 1470px;
    background-image:url('texture.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    padding: 20px;
}

.header{
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;
    height: auto;
    color: rgb(161, 39, 39);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.gallery div{
    width: 150%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 0px;
    flex: none;
    margin: 0px;
}

.gallery div img{
    width: 97%;
    height: 350px;
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    padding: 0px;
    margin: 0px;
}

#backBtn, #nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

.audio{
    text-align: center;
}

.content, .course, .labs{
    margin: 20px auto;
    text-align: justify;
    max-width: 90%;
    word-spacing: 5px;
    line-height: 25px;
}

.footer1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 400px; /* Increased gap between buttons */
    margin-top: 50px; /* Pushed buttons further down */
    position: relative;
    bottom: 0;
    width: 100%;
}
a{
    color: black;
}
a:hover{
    color: blue;

}

.row3{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    width: 100%;
}
footer {
    color: black;
    padding: 50px;
    text-align: center;  /* Centers the text */
    width: 100%;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 768px){
    .content, .course, .labs{
        text-align: center;
    }

    .footer1{
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Adjusted for smaller screens */
        margin-top: 30px;
    }

    .footer button{
        width: 100%;
        max-width: 200px;
    }
}