.main{
    width: 1350px;
    height: 680px;
    background-image:url('texture.jpg'); 
    background-repeat: no-repeat ;
    background-size: cover;
}
.header{
    text-align: center;
    padding: 40px;
    
    height: 250px;
    color: rgb(161, 39, 39)
    ;
    
}
.row1{
   
    height: 300px;
}
.col1 {
    
    
    height: 300px;
    width:450px ;
    float: left;
    color: black;
}


.col2{
    
    height: 300px;
    width:450px ;
    float: left;
    color: black;
}
.col3{
  
    height: 300px;
    width:450px ;
    float: left;  
}
.AB{
    color: black;
    }
.AB:hover{
    color: blue;
}
.VICT:hover{
    color: blue;
}
.VGS:hover{
    color: blue;
}
.VSB:hover{
    color: blue;
}
.VISB:hover{
    color: blue;
}
.C:hover{
    color: blue;
}
.VCE:hover{
    color: blue;
}
.VIFT:hover{
    color: blue;
}
.VISA:hover{
    color: blue;
}
.VIMS:hover{
    color: blue;
}
.SBA:hover{
    color: blue;
}
.SBB:hover{
    color: blue;
}
.ABH:hover{
    color: blue;
}
.GH:hover{
    color: blue;
}
a:hover{
    color:blue;
}
a{
    color: black;
}

